.contentNote {
  padding-top: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 8em;
  height: 11em;
  background-color: azure;
  border-radius: 1em;
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(178, 177, 177, 0.435);
}

.contentNote:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.titleNote {
  font-weight: bold;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5em;
}

.textNote {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5em;
}

.dividerNote {
  width: 90%;
  color: #adadac;
  align-self: center;
}

.contentDate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

.dateNote {
  color: #adadac;
  font-size: 0.8em;
}

.iconCalendar {
  font-size: 1em;
  margin-right: 0.5em;
  cursor: pointer;
}
