.infoIcon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
}

.contentRequirements {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listRequirements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  list-style: none;
}

.itemRequirementError {
  font-size: 0.9rem;
  color: red;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.3em 0;
}

.iconError {
  color: red;
  font-size: 1rem;
}
