.contentMenu {
  background-color: #fdfffd;
  width: 6em;
  height: 5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 1.5em;
  right: 0em;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.iconDots {
  position: absolute;
  right: 0.4em;
  top: 0;
  cursor: pointer;
}

.contentEdit,
.contentDelete {
  display: flex;
  margin: 0.5em;
  cursor: pointer;
}

.textEdit,
.textDelete {
  margin-left: 0.5em;
}

.textEdit:hover,
.textDelete:hover {
  font-weight: bold;
}
