.formFolder {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 90%;
  background-color: #ffffff5c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.labelFolder {
  font-size: 1.2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inputFolder {
  width: 80%;
  margin-top: 0.5em;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.inputFolder:focus {
  border-color: #eeeb3c;
  outline: none;
}

.contentBtns {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.btnCreate,
.btnCancel {
  width: 45%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #d3ee98;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.btnCreate:hover,
.btnCancel:hover {
  background-color: #b3d68c;
  transform: scale(1.05);
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}
