.formSearch {
  margin: 0 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #d0f7d3;
  padding: 0.5em 0;
}

.search {
  border: none;
  background: none;
  margin: 0 0 0 0.8em;
}

.search:focus {
  outline: none;
}

.contentIconSearch {
  margin: 0 0.8em 0 0;
  background-color: #fdff79;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px 8px #feff9f;
}

@media (min-width: 460px) {
  .formSearch {
    margin: 2em;
  }
}

@media (min-width: 768px) {
  .formSearch {
    max-width: 20em;
    padding: 0.5em 1em;
  }

  .search {
    font-size: 1em;
    width: 100%;
  }

  .contentIconSearch {
    width: 2em;
    height: 2em;
  }
}
