.foldersMaxHeight {
  max-height: calc(3 * 4.5em + 2em);
}

/* TABLET - min-width 600px aprox */
@media (min-width: 550px) {
  .foldersMaxHeight {
    max-height: calc(4 * 5em + 2em);
  }
}

/* DESKTOP - min-width 1024px aprox */
@media (min-width: 1024px) {
  .foldersMaxHeight {
    max-height: calc(5 * 5.5em + 2em);
  }
}
